body{
    background-image: url("../imagens/imagemFundoHPblack.png");
    font-family: 'Quicksand', sans-serif;
    background-size: contain; /*CENTRALIZA A IMAGEM DE FUNDO OU PELO MENOS DEVERIA MUDAR DPS*/
    background-repeat: no-repeat;
    background-position: top 10px;
    
}

.bloco1
{
    width: 100%;
    height: 5%;
    background-image: url('../imagens/FundoLogo.jpg');
    background-size: cover;
    background-position: center;
}

.bloco1 img
{
    width: 200px;
    margin-top: 20px;
    margin-left: 10px;
    margin-bottom: 20px;
    margin-right: 20px;
}

.dropb {
  display: flex;
  flex-wrap: wrap;
    background-color: none; /*fundo do botao "none" ou seja nenhum para destacar o hover*/
    color: rgb(0, 0, 0);
    padding: 16px;
    font-size: 20px;
    font-weight: bold;
    border: none; 
    display: flex; 
    justify-content: center;  /*para centralizar os botões*/
}

.dropb:hover{
  transform: translateY(-5px); /*animacao dos botoes header*/
}

.dropdown {
    position: relative;
    display: inline-block;
    margin: 10px;
  }

.drop-conteudo {
    display: none;
    position: absolute;
    background-color: rgba(255, 253, 253, 0.726); /*cor antiga = #2582c0b4*/
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(255, 255, 255, 0.281);
    z-index: 1;
    font-size: 20px;
}

.drop-conteudo a {
    color: rgb(5, 5, 5); /*cor = letras*/
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.drop-conteudo a:hover {background-color: rgb(219, 219, 214);} /*cor fundo = drop rgb(0, 0, 0)*/  
.dropdown:hover .drop-conteudo {display: block;}

.dropdown:hover .dropb { /*ao passar o mouse por cima ele muda a cor das letras*/
    background-color:none;  /*cor antiga = #2072b6c9*/
    color:rgb(0, 148, 247) /*igual que no site orignal so as letras se iluminam*/
} 

.bot{
    display: flex;
    justify-content: space-around;
}

/*INTRODUCAO*/
.introd{
    display: flex;
    justify-content:  center;
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 10px;
}

.images /*div class das imagens*/
{
  width: 20%;
  height: 20%;
  background: linear-gradient(150deg, rgb(192, 188, 188), gray)
}

.images #garage{ /*div com id garage com configuracao especifica*/
  width: 93.3%; /*ao se ver a responsiva, procurar saber isso devera ser modificado por conta da responsiva*/
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 10px;
  
}

.images #placa{
  width: 93.3%; /*mesmo que o outro*/
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 5px;
}


.text {
  display: flex;
  justify-content: center;
  flex-direction: column;
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  margin: 20px;
  width: 55%;
}

#title{
  text-transform: uppercase;
  font-size: 45px;
  border-radius: 30px;
  background-color: rgb(172, 166, 166);
  padding-left: 6.2px;
  margin-left: 350px;
  width: 8%;
}

.images #hpgar {
    width: 93.5%;/*mesma que o outro*/
    margin-top: 10px;/*margem colorida cinza (pergunta ao grupo se fica bom)*/
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 8px;
}


#voltar /*botâo voltar para o inìcio*/
{
    color: black; 
    /*font-size: 30px;*/ /*tentei colocar o tamanho da fonte com 25 px dentro dessas chaves ele so pega a cor, nesse casoi o tamanho tive que colocar ele direto no HTMl com o "style"*/
}

.bot .dropdown a
{
    font-size: 25px;
    text-decoration: none; /*esta linha deveria servir para poder retirar o sublinhado do link */
}

/******************************************************/

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.conteudo {
    background-color: #0871d3;
    border-radius: 15px;
    width: 960px;
    height: 70%; /*de 50% original*/
    justify-content: space-between;
    align-items: center;
    position: relative;
}
.conteudo::before {
    content: "";
    position: absolute;
    background-color: #b1b1b1;
    width: 40%;
    height: 100%;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;


    left: 0;
}
.titulo {
    font-size: 28px;
    font-weight: bold;
    text-transform: capitalize;
    text-align: center;
}
.titulo-primeiro {
    color: #022463;
}
.titulo-segundo {
    color: #000000;
    margin-top: 80px;
}
.descricao {
    font-size: 14px;
    font-weight: 300;
    line-height: 30px;
    color: #fff;
}
.descri-primaria {
    color: #fff;
}
.segunda-descricao {
    color: #fff;
}
.botao {
    border-radius: 15px;
    text-transform: uppercase;
    color: #fff;
    font-size: 10px;
    padding: 10px 50px;
    cursor: pointer;
    font-weight: bold;
    width: 150px;
    align-self: center;
    border: none;
    margin-top: 1rem;
}
.botao-primario {
    background-color: transparent;
    border: 1px solid #020863;
    color: #fff;
    transition: background-color .5s;
}
.botao-primario:hover {
    background-color: #888888;
    color: #fff;
}
.segundo-botao {
    background-color: #0ca5ec;
    border: 1px solid #000;
    color: #fff;
    transition: background-color 1s;
}
.segundo-botao:hover {
    background-color: #666666;
    color: #fff;
    border: 1px solid #000;
}

.primeiro-conteudo {
    display: flex;
}
.primeiro-conteudo .segunda-coluna {
    z-index: 11;
}
.primeira-coluna {
    text-align: center;
    width: 40%;
    z-index: 10;
    color: #fff;
}
.segunda-coluna {
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.redes-sociais {
    margin: 1rem 0;
}
.link-redes-sociais:not(:first-child){
    margin-left: 10px;
    margin-right: 10px;
}

.link-redes-sociais{
    margin-left: 10px;
    margin-right: 10px;
    padding-right: 20px;
}


.link-redes-sociais .itens-redes-sociais {
    transition: background-color .5s;
}
.link-redes-sociais:hover .itens-redes-sociais{
    background-color: #01fcef;
    color: #fff;
    border-color: #008fbb;
}
.lista-redes-sociais {
    display: flex;
    list-style-type: none;
}
.itens-redes-sociais {
    border: 1px solid #fff;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    color: #fff;
}
.quadrado {
    display: flex;
    flex-direction: column;
    width: 55%;
}
.quadrado input {
    height: 45px;
    width: 100%;
    border: none;
    background-color: #fff;
}
input:-webkit-autofill 
{    
    -webkit-box-shadow: 0 0 0px 1000px #fff inset !important;
    -webkit-text-fill-color: #818181 !important;
}
.input-LL {
    background-color: #ecf0f1;
    display: flex;
    align-items: center;
    margin-top: 8px;
}
.icon-modify {
    color: #7f8c8d;
    padding: 0 5px;
}

/* second content*/

.segundo-conteudo {
    position: absolute;
    display: flex;
}
.segundo-conteudo .primeira-coluna {
    order: 2;
    z-index: -1;
}
.segundo-conteudo .segunda-coluna {
    order: 1;
    z-index: -1;
}
.senha {
    color: #34495e;
    font-size: 14px;
    margin: 15px 0;
    text-align: center;
}
.senha::first-letter {
    text-transform: capitalize;
}



.sign-in-js .primeiro-conteudo .primeira-coluna {
    z-index: -1;
}

.sign-in-js .segundo-conteudo .segunda-coluna {
    z-index: 11;
}
.sign-in-js .segundo-conteudo .primeira-coluna {
    z-index: 13;
}

.sign-in-js .conteudo::before {
    left: 60%;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    animation: slidein 1.1s; /*MODIFIQUEI DE 3s PARA 1.3s*/

    z-index: 12;
}

.sign-up-js .conteudo::before {
    animation: slideout 1.3s; /*MODIFIQUEI DE 3s PARA 1.3s*/

    z-index: 12;
}

.sign-up-js .segundo-conteudo .primeira-coluna,
.sign-up-js .segundo-conteudo .segunda-coluna {
    z-index: -1;
}

.sign-up-js .primeiro-conteudo .segunda-coluna {
    z-index: 11;
}

.sign-up-js .primeiro-conteudo .primeira-coluna {
    z-index: 13;    
}


/* DESLOCAMENTO CONTEÚDO ATRÁS DO CONTENT:BEFORE*/
.sign-in-js .primeiro-conteudo .segunda-coluna {

    z-index: -1;
    position: relative;
    animation: deslocamentoEsq 1.3s; /*MODIFIQUEI DE 3s PARA 1.3s*/
}

.sign-up-js .segundo-conteudo .segunda-coluna {
    position: relative;
    z-index: -1;
    animation: deslocamentoDir 1.3s; /*MODIFIQUEI DE 3s PARA 1.3s*/
}

/*ANIMAÇÃOO CSS PARA O CONTEÚDO*/

@keyframes deslocamentoEsq {

    from {
        left: 0;
        opacity: 1;
        z-index: 12;
    }

    25% {
        left: -80px;
        opacity: .5;
        /* z-index: 12; NÃO HÁ NECESSIDADE */
    }

    50% {
        left: -100px;
        opacity: .2;
        /* z-index: 12; NÃO HÁ NECESSIDADE */
    }

    to {
        left: -110px;
        opacity: 0;
        z-index: -1;
    }
}


@keyframes deslocamentoDir {

    from {
        left: 0;
        z-index: 12;
    }

    25% {
        left: 80px;
        /* z-index: 12;  NÃO HÁ NECESSIDADE*/
    }

    50% {
        left: 100px;
        /* z-index: 12; NÃO HÁ NECESSIDADE*/
        /* background-color: yellow;  Exemplo que dei no vídeo*/
    }

    to {
        left: 110px;
        z-index: -1;
    }
}


/*ANIMAÇÃO CSS*/

@keyframes slidein {

    from {
        left: 0;
        width: 40%;
    }

    25% {
        left: 5%;
        width: 50%;
    }

    50% {
        left: 25%;
        width: 60%;
    }

    75% {
        left: 45%;
        width: 50%;
    }

    to {
        left: 60%;
        width: 40%;
    }
}

@keyframes slideout {

    from {
        left: 60%;
        width: 40%;
    }

    25% {
        left: 45%;
        width: 50%;
    }

    50% {
        left: 25%;
        width: 60%;
    }

    75% {
        left: 5%;
        width: 50%;
    }

    to {
        left: 0;
        width: 40%;
    }
}

/*VERSÃO MOBILE*/
@media screen and (max-width: 1040px) {
    .conteudo {
        width: 100%;
        height: 100%;
    }
    /*****/
    .titulo-segundo {
        color: #000000;
        margin-top: 10px;
    }
    /****/
    .conteudo::before {
        width: 100%;
        height: 40%;
        top: 0;
        border-radius: 0;
    }
    .primeiro-conteudo, .segundo-conteudo {
        flex-direction: column;
        justify-content: space-around;
    }

    .primeira-coluna, .segunda-coluna {
        width: 100%;
    }
    
    .sign-in-js .conteudo::before {
        top: 60%;
        left: 0;
        border-radius: 0;
    }

    .quadrado {
        width: 90%;
    }
    
    /* ANIMAÇÃO MOBILE CSS*/

    @keyframes deslocamentoEsq {

        from {
            top: 0;
            opacity: 1;
            z-index: 12;
        }
    
        25% {
            top: -80px;
            opacity: .5;
            /* z-index: 12; NÃO HÁ NECESSIDADE */
        }
    
        50% {
            top: -100px;
            opacity: .2;
            /* z-index: 12; NÃO HÁ NECESSIDADE */
        }
    
        to {
            top: -110px;
            opacity: 0;
            z-index: -1;
        }
    }
    
    
    @keyframes deslocamentoDir {
    
        from {
            top: 0;
            z-index: 12;
        }
    
        25% {
            top: 80px;
            /* z-index: 12;  NÃO HÁ NECESSIDADE*/
        }
    
        50% {
            top: 100px;
            /* z-index: 12; NÃO HÁ NECESSIDADE*/
            /* background-color: yellow;  Exemplo que dei no vídeo*/
        }
    
        to {
            top: 110px;
            z-index: -1;
        }
    }
    
    
    
    @keyframes slidein {
    
        from {
            top: 0;
            height: 40%;
        }
    
        25% {
            top: 5%;
            height: 50%;
        }
    
        50% {
            top: 25%;
            height: 60%;
        }
    
        75% {
            top: 45%;
            height: 50%;
        }
    
        to {
            top: 60%;
            height: 40%;
        }
    }
    
    @keyframes slideout {
    
        from {
            top: 60%;
            height: 40%;
        }
    
        25% {
            top: 45%;
            height: 50%;
        }
    
        50% {
            top: 25%;
            height: 60%;
        }
    
        75% {
            top: 5%;
            height: 50%;
        }
    
        to {
            top: 0;
            height: 40%;
        }
    }
   
}

@media screen and (max-width: 740px) {
    .quadrado {
        width: 50%;
    }
}

@media screen and (max-width: 425px) {
    .quadrado {
        width: 100%;
    }
}


@media only screen and (max-width:915px) {
    .bot{
      display: block;
      flex-wrap: wrap;
    }
  }