body{
    background-image: url("../imagens/imagemFundoHPblack.png");
    font-family: 'Quicksand', sans-serif;
    background-size: contain; /*CENTRALIZA A IMAGEM DE FUNDO OU PELO MENOS DEVERIA MUDAR DPS*/
    background-position: top 10px;
    
}

.bloco1
{
    width: 100%;
    height: 5%;
    background-image: url('../imagens/FundoLogo.jpg');
    background-size: cover;
    background-position: center;
}

.bloco1 img
{
    width: 200px;
    margin-top: 20px;
    margin-left: 10px;
    margin-bottom: 20px;
    margin-right: 20px;
}

.dropb {
    background-color: none; /*fundo do botao "none" ou seja nenhum para destacar o hover*/
    color: rgb(0, 0, 0);
    padding: 16px;
    font-size: 20px;
    font-weight: bold;
    border: none; 
    display: flex; 
    justify-content: center;  /*para centralizar os botões*/
}

.dropb:hover{
  transform: translateY(-5px); /*animacao dos botoes header*/
}

.dropdown {
    position: relative;
    display: inline-block;
    margin: 10px;
  }

.drop-conteudo {
    display: none;
    position: absolute;
    background-color: rgba(255, 253, 253, 0.726); /*cor antiga = #2582c0b4*/
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(255, 255, 255, 0.281);
    z-index: 1;
    font-size: 20px;
}

.drop-conteudo a {
    color: rgb(5, 5, 5); /*cor = letras*/
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.drop-conteudo a:hover {background-color: rgb(219, 219, 214);} /*cor fundo = drop rgb(0, 0, 0)*/  
.dropdown:hover .drop-conteudo {display: block;}

.dropdown:hover .dropb { /*ao passar o mouse por cima ele muda a cor das letras*/
    background-color:none;  /*cor antiga = #2072b6c9*/
    color:rgb(0, 148, 247) /*igual que no site orignal so as letras se iluminam*/
} 

.bot{
    display: flex;
    justify-content: space-around;
}

/*INTRODUCAO*/
.introd{
    display: flex;
    justify-content: center;
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 10px;
}

.imagens #garage{
    width: 5%;
    margin: 10px;
}

.introd p {
    display: flex;
    justify-content: center;
    font-size: 30px;
    font-weight: bold;
    margin: 20px;
    width: 55%;
}
/*----------fundacao-------------*/

.title { /*div titulo*/
  display: flex;
  justify-content: center;
  margin: 20px;
  width: 100%; /*largura da div do titulo*/
}

.title h3 {
  display: flex;
  justify-content: center;
  font-size: 50px;
  font-weight: bolder;
  margin-left: 20px;
  margin-right: 20px;
  width: 100%; /*largura do titulo*/
}

.text { /*div texto*/
  display: flex;
  justify-content: center;
  margin: 20px;
  width: 100%;/*largura da caixa(div) de texto*/
}

.text p {
  display: flex;
  font-size: 25px;
  font-weight: 600;
  margin: 20px;
  width: 70%; /*largura do texto*/
}

iframe
{
    width: 30%;
    height: 680px;
    margin-left: 35%;
    margin-right: 35%;
}

.blank a{
  text-decoration: none;
  text-transform: uppercase;
  color: aliceblue;
}

.blank{
  background-color: gray;
  border-radius: 10px;
  border-color: black;
  
  padding-left: 5%;
  padding-right: 2%;
  
  margin-left: 40%;
  margin-right: 40%;

}

#voltar /*botâo voltar para o inìcio*/
{
    color: black; 
    /*font-size: 30px;*/ /*tentei colocar o tamanho da fonte com 25 px dentro dessas chaves ele so pega a cor, nesse casoi o tamanho tive que colocar ele direto no HTMl com o "style"*/
}

.bot .dropdown a
{
    font-size: 25px;
    text-decoration: none; /*esta linha deveria servir para poder retirar o sublinhado do link */
}

@media only screen and (max-width:915px) {
  .bot{
    display: block;
    flex-wrap: wrap;
  }

    iframe
  {
      width: 90%;
      height: 525px;
      margin-left: 5%;
      margin-right: 5%;
  }

  .blank a{
    text-decoration: none;
    text-transform: uppercase;
    color: aliceblue;
  }
  
  .blank{
    background-color: gray;
    border-radius: 10px;
    border-color: black;
    
    padding-left: 6%;
    padding-right: 3%;
    
    margin-left: 20%;
    margin-right: 20%;
  
  }
}